@import  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

/* DM SANS */
@font-face {
  font-family: DmSans;
  src: url(assets/fonts/dmsans.ttf);
}
/* Redhat */
@font-face {
  font-family: RedHat;
  src: url(assets/fonts/redhat.ttf);
}

/* Geologica Text */
@font-face {
  font-family: Geologica, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/geologica.ttf);
}

/* Inter sans */
@font-face {
  font-family: Inter, serif;
  src: url(assets/fonts/inter.ttf);
}

/* Roboto Mono */
@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/RobotoMono.ttf);
}

/* Lexend Mono */
@font-face {
  font-family: Lexend, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/lexend.ttf);
}

@theme {
    /* fonts */
  --font-dmsans: DMSans;
  --font-geologica: Geologica;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-lexend: Lexend;
  --font-redhat: RedHat;
  --font-poppins: 'Poppins', RedHat;
  /* Light Theme Colors */
  --color-background: #ffffff;
  --color-foreground: oklch(0.145 0 0);

  --card: oklch(0.985 0 0);
  --border: rgba(0, 0, 0, 0.1);

  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);

  --color-primary: #030213;
  --color-primary-foreground: oklch(1 0 0);

  --color-secondary: oklch(0.95 0.0058 264.53);
  --color-secondary-foreground: #030213;

  --color-muted: #ececf0;
  --color-muted-foreground: #717182;

  --color-accent: #e9ebef;
  --color-accent-foreground: #030213;

  --color-premium:  #FFC700;
  --color-premium-hover:  #ffc700cc;

  --color-admin: #fb2c36;
  --color-admin-hover: #82181a;

  --color-border: rgba(0, 0, 0, 0.1);
  --color-input: transparent;
  --color-input-background: #f3f3f5;
  --color-switch-background: #cbced4;
  --color-icons: #f94300;

  --color-ring: oklch(0.708 0 0);

  --color-chart-1: #2b7fff;
  --color-chart-2: #00c950;
  --color-chart-3: #ad46ff;
  --color-chart-4: #ff6900;
  --color-chart-5: oklch(0.769 0.188 70.08);

  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar-primary: #030213;
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-ring: oklch(0.708 0 0);
}
@layer card-container{
  .card{
    /* bg-card text-text flex-col gap-4 rounded-xl border border-border  */
    /* px-12 py-4 text-xs */
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: .75rem;
    padding: .75rem 1.75rem;
    display: flex;
    flex-direction: column;
    /* box-shadow: var(--drop-shadow-lg); */
    gap: 1.5rem;
    @apply md:min-h-auto min-h-48 drop-shadow-lg hover:shadow-xl duration-200 ease-in-out;
  
  & .__header{
      @apply flex flex-col gap-1 selection:bg-admin;
    }
  & .__title {
   @apply flex items-center gap-1.5; 
  }
  & .__img{
    @apply img-small text-icons
  }
  & h1{
    @apply text-base font-light
  }

  & p{
    @apply text-muted-foreground text-xs px-4 font-dmsans
  }
}
@layer card-element{
  .card-element{
    @apply flex flex-col items-center gap-2 pb-12 pt-3;
  
  & ._img{
    @apply img-big text-admin;
  }
  
    & h3{
    @apply font-bold text-lg
  }
  & h2{
    @apply text-xs text-muted-foreground
  }
  & span{
    @apply text-[10px] -mt-1.25  text-muted-foreground font-dmsans
  }
  
  }
}

@layer quick_action{
  .quick-action{
    @apply grid grid-cols-2 items-center;
  & ._btn{
    @apply rounded-2xl px-2 py-2 flex flex-col items-center gap-1
  }
  & h2{
    @apply font-poppins text-sm text-accent;
  }
  & span{
    @apply text-xs text-muted;
  }
  
  }
  
}
}
@utility img-small{
  @apply w-4 h-4 text-accent;
}
@utility img-big{
  @apply w-8 h-8 text-accent;
}


:root {
  background-color: #242424;
}
body{
  scroll-behavior: smooth;
}
