@import "tailwindcss";

/* DM SANS */
@font-face {
  font-family: DmSans;
  src: url(assets/fonts/dmsans.ttf);
}
/* Redhat */
@font-face {
  font-family: RedHat;
  src: url(assets/fonts/redhat.ttf);
}

/* Geologica Text */
@font-face {
  font-family: Geologica, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/geologica.ttf);
}

/* Inter sans */
@font-face {
  font-family: Inter, serif;
  src: url(assets/fonts/inter.ttf);
}

/* Roboto Mono */
@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/RobotoMono.ttf);
}

/* Lexend Mono */
@font-face {
  font-family: Lexend, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/lexend.ttf);
}

@theme {
}
@theme {
    /* fonts */
  --font-dmsans: DMSans;
  --font-geologica: Geologica;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-roboto: Lexend;
  --font-redhat: RedHat;
  /* Light Theme Colors */
  --color-background: #ffffff;
  --color-foreground: oklch(0.145 0 0);

  --color-card: #ffffff;
  --color-card-foreground: oklch(0.145 0 0);

  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);

  --color-primary: #030213;
  --color-primary-foreground: oklch(1 0 0);

  --color-secondary: oklch(0.95 0.0058 264.53);
  --color-secondary-foreground: #030213;

  --color-muted: #ececf0;
  --color-muted-foreground: #717182;

  --color-accent: #e9ebef;
  --color-accent-foreground: #030213;

  --color-destructive: #d4183d;
  --color-destructive-foreground: #ffffff;

  --color-border: rgba(0, 0, 0, 0.1);
  --color-input: transparent;
  --color-input-background: #f3f3f5;
  --color-switch-background: #cbced4;

  --color-ring: oklch(0.708 0 0);

  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);

  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar-primary: #030213;
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-ring: oklch(0.708 0 0);
}

/* Dark Mode */
@theme .dark {
    /* fonts */
  --font-dmsans: DMSans;
  --font-geologica: Geologica;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-roboto: Lexend;
  --font-redhat: RedHat;
  --color-text: oklch(0.145 0 0);

  --color-foreground: oklch(0.985 0 0);

  --color-card: oklch(0.145 0 0);
  --color-card-foreground: oklch(0.985 0 0);

  --color-popover: oklch(0.145 0 0);
  --color-popover-foreground: oklch(0.985 0 0);

  --color-primary: oklch(0.985 0 0);
  --color-primary-foreground: oklch(0.205 0 0);

  --color-secondary: oklch(0.269 0 0);
  --color-secondary-foreground: oklch(0.985 0 0);

  --color-muted: oklch(0.269 0 0);
  --color-muted-foreground: oklch(0.708 0 0);

  --color-accent: oklch(0.269 0 0);
  --color-accent-foreground: oklch(0.985 0 0);

  --color-destructive: oklch(0.396 0.141 25.723);
  --color-destructive-foreground: oklch(0.637 0.237 25.331);

  --color-border: oklch(0.269 0 0);
  --color-input: oklch(0.269 0 0);

  --color-ring: oklch(0.439 0 0);

  --color-chart-1: oklch(0.488 0.243 264.376);
  --color-chart-2: oklch(0.696 0.17 162.48);
  --color-chart-3: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.627 0.265 303.9);
  --color-chart-5: oklch(0.645 0.246 16.439);

  --color-sidebar: oklch(0.205 0 0);
  --color-sidebar-foreground: oklch(0.985 0 0);
  --color-sidebar-primary: oklch(0.488 0.243 264.376);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.269 0 0);
  --color-sidebar-accent-foreground: oklch(0.985 0 0);
  --color-sidebar-border: oklch(0.269 0 0);
  --color-sidebar-ring: oklch(0.439 0 0);
}

:root {
  background-color: #242424;
}
body{
  scroll-behavior: smooth;
}
