@import  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* DM SANS */
@font-face {
  font-family: DmSans;
  src: url(assets/fonts/dmsans.ttf);
}
/* Redhat */
@font-face {
  font-family: RedHat;
  src: url(assets/fonts/redhat.ttf);
}

/* Geologica Text */
@font-face {
  font-family: Geologica, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/geologica.ttf);
}

/* Inter sans */
@font-face {
  font-family: Inter, serif;
  src: url(assets/fonts/inter.ttf);
}

/* Roboto Mono */
@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/RobotoMono.ttf);
}

/* Lexend Mono */
@font-face {
  font-family: Lexend, Arial, Helvetica, sans-serif;
  src: url(assets/fonts/lexend.ttf);
}

@theme {
    /* fonts */
  --font-dmsans: DMSans;
  --font-geologica: Geologica;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-lexend: Lexend;
  --font-redhat: RedHat;
  --font-poppins: 'Poppins', RedHat;
  /* Light Theme Colors */
  --color-background: #fdfdfd;
  --color-foreground: oklch(0.145 0 0);

  --card: oklch(0.985 0 0);
  --border: rgba(0, 0, 0, 0.1);

  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);

  --color-primary: #030213;
  --color-primary-foreground: oklch(1 0 0);

  --color-secondary: oklch(0.95 0.0058 264.53);
  --color-secondary-foreground: #030213;

  --color-muted: #ececf0;
  --color-muted-foreground: #717182;

  --color-accent: #e9ebef;
  --color-accent-foreground: #030213;

  --color-premium:  #FFC700;
  --color-premium-hover:  #F2B233;

  --color-admin: #fb2c36;
  --color-admin-hover: #82181a;

  --color-border: rgba(0, 0, 0, 0.1);
  --color-input: transparent;
  --color-input-background: #f3f3f5;
  --color-switch-background: #cbced4;
  --color-icons: #f94300;

  --color-ring: oklch(0.708 0 0);

  --color-chart-1: #2b7fff;
  --color-chart-2: #00c950;
  --color-chart-3: #ad46ff;
  --color-chart-4: #ff6900;
  --color-chart-5: oklch(0.769 0.188 70.08);

  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar-primary: #030213;
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-ring: oklch(0.708 0 0);
}
@layer card-container{
  .card{
    /* bg-card text-text flex-col gap-4 rounded-xl border border-border  */
    /* px-12 py-4 text-xs */
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: .75rem;
    padding: .75rem 1.75rem;
    display: flex;
    flex-direction: column;
    /* box-shadow: var(--drop-shadow-lg); */
    gap: 1.5rem;
    @apply 
    md:min-h-auto 
    min-h-48 drop-shadow-lg hover:shadow-xl duration-200 ease-in-out;

  & .__header{
      @apply flex flex-col gap-1 selection:bg-admin;
    }
  & .__title {
   @apply flex items-center gap-1.5; 
  }
  & .__img{
    @apply img-small text-icons
  }
  & h1{
    @apply text-base font-light
  }

  & p{
    @apply text-muted-foreground text-xs px-4 font-dmsans
  }
  & .card_stats{
    @apply md:grid-cols-3 grid-cols-1 md:gap-4 grid px-12 justify-center items-center text-center
  }
}
@layer card-element{
  .card-element{
    @apply flex flex-col items-center gap-2 pb-12 pt-3;

  & ._img{
    @apply img-big text-admin;
  }

    & h3{
    @apply font-bold text-lg
  }
  & h2{
    @apply text-xs text-muted-foreground
  }
  & span{
    @apply text-[10px] -mt-1.25  text-muted-foreground font-dmsans
  }

  }
}

@layer quick_action{
  .quick-action{
    @apply grid md:grid-cols-2 grid-cols-1 items-center;
  & ._btn{
    @apply rounded-2xl px-2 py-2 flex flex-col items-center gap-1 cursor-pointer
  }
  & h2{
    @apply font-poppins text-sm text-accent;
  }
  & span{
    @apply text-xs text-muted;
  }

  }

}
@layer sections{
  .section{
    @apply max-w-7xl px-14 mx-auto flex flex-col mt-18;

  }
}
@layer profile_card{
  .profile-card{
    background-color: var(--card);
    border: 1px solid var(--border);
    /* border-radius: 1.75rem; */
    /* padding: .75rem 1.75rem; */
    display: flex;
    flex-direction: column;
    /* box-shadow: var(--drop-shadow-lg); */
    gap: 1.5rem;
    @apply 
    md:min-h-auto 
    min-h-48 drop-shadow-lg hover:shadow-xl duration-200 ease-in-out;
  }
}

@layer exercises{
  .exercise_category{
    @apply bg-white rounded-3xl shadow-md hover:shadow-xl hover:scale-105 hover:drop-shadow-2xl transition-all duration-500 p-4 flex flex-col justify-between gap-4;
  }
  .featured_exercises{
    border: 1px solid var(--border);
    @apply
     bg-white border-border rounded-xl shadow-md hover:shadow-xl hover:-translate-y-2 hover:drop-shadow-xl transition-all duration-400 p-4
  }
}

}
.click-pressed {
  @apply active:scale-90 cursor-pointer duration-300 transition-all;
}

@utility img-small{
  @apply w-4 h-4 text-accent;
}
@utility img-big{
  @apply w-8 h-8 text-accent;
}

@layer utilities {
  @keyframes notification-loop {
    from {
      background-color: var(--color-admin);
    }
    50% {
      background-color: var(--color-admin/30);
      rotate: 3;
      scale: 115%;
      transition: all;
    }
    to {
      background-color: var(--color-admin);
    }
  }

  .notification-loop {
    animation: notification-loop 2s infinite ease-in-out;
  }
}

:root{
  --color-chart-1: #2b7fff;
  --color-chart-2: #00c950;
  --color-chart-3: #ad46ff;
  --color-chart-4: #ff6900;
}
/* :root { */
  /* background-color: var(--color-background); */
  /* font-family: "Poppins""Roboto","DMSans", "Poppins"; */
  /* --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
} */
body{
  scroll-behavior: smooth;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
